div.listName {
    width: 20%;
    float: left;

}

div.listDesc {
    width: 50%;
    float: left;
}

div.listButtons {
    width: 30%;
    float: left;
}

div.listWrapper {
    width: 100%;
    overflow: hidden;
}

div.itemName {
    width: 30%;
    float: left;
}

div.itemQuantity {
    width: 15%;
    float: left;
}

div.itemUnit {
    width: 15%;
    float: left;
}

div.itemButtons {
    width: 30%;
    float: left;
}

div.itemWrapper {
    width: 100%;
    overflow: hidden;
}

.ui-dataview-header {
    display: none;
}